[submodule "BrahmaLoader"]
	path = BrahmaLoader
	url = https://github.com/d0k3/BrahmaLoader.git
[submodule "CakeHax"]
	path = CakeHax
	url = https://github.com/mid-kid/CakeHax.git
[submodule "CakesROP"]
	path = CakesROP
	url = https://github.com/mid-kid/CakesROP.git
